.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.text-primary {
    color: #4E47FF;
}
.text-color2 {
    color: #252432;
}
.btn-primary {
    background-color: #4E47FF;
    font-style: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    font-family: inter;
}
.btn-primary:hover {
    background-color: white;
    color: #4E47FF;
    font-weight: 700;
    border: solid 2px #4E47FF;
    font-family: inter;
}

/* nav styles */
header {
    background-image: url(../Assets/hero-bg.png);
    margin-top: 0px;
    background-repeat: no-repeat; 
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px 0 150px;
}
nav h3 {
    font-size: 34px;
    font-weight: 800;
}
.banner-container {
    margin: 310px 270px 152px 310px;
    text-align: center;
    gap: 37px;
}   
.banner-container h2 {
    font-size: 65px;
    font-weight: 800;
}
.banner-btn {
    margin-bottom: 152px;
}

/* main style */
body {
    background-color: #d3eef05e;
}
.action {
    margin: 116px 140px 116px 140px;
    display: flex;
    justify-content: space-around;
}
.action-container {
    gap: 23px;
}
main section img {
    border-radius: 48px;
}
.action-title {
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.action-description {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    width: 520px;
    margin-top: 23px;
}

/* section2 style */
.section2 {
    background-color: rgba(190, 214, 216, 0.39);
    display: block;
    margin: auto;
    padding: 50px 80px;
    margin: 150px 150px;
    border-radius: 24px;
}
.card-title {
    text-align: center;
    font-family: inter;
    font-size: 38px;
    font-style: bold;
    color: #252432;
}
.card-info {
    display: flex;
    justify-content: space-around;
}
.card-info h1 {
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
    font-family: inter;
    margin: 40px 0px 0px 0px;
}
.card-info p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: inter;
    margin-top: 0px;
}

/* section3 style */
.say {
    margin: 145px 150px;
    display: block;
    justify-content: space-between;
}
.review-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-title {
    margin-bottom: 50px;
}
.card {
    background-color: white;
    border-radius: 14px;
    padding: 24px;
    gap: 20px;
}
.ratings {
    display: flex;
}
.title {
    color: rgba(30, 30, 30, 1);
    font-family: inter;
}
.say .description {
    width: 318px;
    color: rgba(30, 30, 30, 1);
}
.review img {
    width: 40px;
    height: 40px;
}
.review {
    display: flex;
    align-items: center;
    gap: 12px;
}
.reviewer h4 {
    margin-bottom: 0px;
    color: rgba(117, 117, 117, 1);
    font-family: inter;
}
.date {
    margin-top: 0px;
    color: rgba(179, 179, 179, 1);
    font-family: inter;
}

/* section4 style */
.ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 14px;
    margin: 150px;
    padding: 71px 150px;
}
.ready h4 {
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 0;
}
.ready p {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0;
}
.ready button {
    margin-bottom: 20px;
}

/* section 5 style */
.form {
    margin: 100px 150px;
    padding: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: auto;
}
.form .title {
    width: 528px;
    height: 232px;
    margin: 200px 115px 130px 0px;
    margin-left: 0px;
    margin-bottom: 300px;
    font-size: 97px;
    font-style: bold;
}
.form h5 {
    font-size: 18px;
    font-family: inter;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
}
.email-box, .name-box, .message-box {
    font-size: 20px;
    font-style: normal;
    font-family: inter;
    width: 500px;
    height: 30px;
    padding: 20px;
    margin: 10px 0px;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.message-box {
    height: 70px;
}
form button {
    width: 540px;
    margin-top: 10px;
}

/* Footer Style */
footer {
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
}
.footer-container {
    width: 531px;
    height: 400px;
    margin: 150px 450px;
    padding-top: 5px;
}
.footer-container h1 {
    text-align: center;
    font-size: 100px;
    font-family: inter;
    color: #4E47FF;
    font-weight: 900;
    margin-top: 104px;
    margin-bottom: 0px;
}
.footer-container p {
    text-align: center;
    margin-top: 0px;
    color: #8987A1;
    font-family: inter; 
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: inter;
}
ul li a {
    text-decoration: none;    
    color:  #8987A1;
}