.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.text-primary {
    color: #4E47FF;
}
.text-color2 {
    color: #252432;
}
.btn-primary {
    background-color: #4E47FF;
    font-style: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}

/* nav styles */
header {
    background-image: url(/Assets/Hero-bg.png);
    margin-top: 0px;
    background-repeat: no-repeat; 
    background-size: cover;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px 0 150px;
}
nav h3 {
    font-size: 34px;
    font-weight: 800;
}
.banner-container {
    margin: 310px 270px 152px 310px;
    text-align: center;
    gap: 37px;
}   
.banner-container h2 {
    font-size: 65px;
    font-weight: 800;
}
.banner-btn {
    margin-bottom: 152px;
}

/* main style */
body {
    background-color: #d3eef05e;
}
.action {
    margin: 116px 140px 116px 140px;
    display: flex;
    justify-content: space-around;
}
.action-container {
    gap: 23px;
}
main section img {
    border-radius: 48px;
}
.action-title {
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.action-description {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    width: 520px;
    margin-top: 23px;
}

/* section2 style */
.section2 {
    background-color: rgba(190, 214, 216, 0.39);
    display: block;
    margin: auto;
    padding: 50px 80px;
    margin: 150px 150px;
    border-radius: 24px;
}
.card-title {
    text-align: center;
    font-family: inter;
    font-size: 38px;
    font-style: bold;
    color: #252432;
}
.card-info {
    display: flex;
    justify-content: space-around;
}
.card-info h1 {
    font-size: 80px;
    font-weight: 800;
    color: #4E47FF;
    font-family: inter;
    margin: 40px 0px 0px 0px;
}
.card-info p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: inter;
    margin-top: 0px;
}

/* section3 style */
.say {
    margin: 145px 150px;
    display: block;
    justify-content: space-between;
}
.review-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-title {
    margin-bottom: 50px;
}
.card {
    background-color: white;
    border-radius: 14px;
    padding: 24px;
    gap: 20px;
}
.ratings {
    display: flex;
}
.title {
    color: rgba(30, 30, 30, 1);
}
.say .description {
    width: 318px;
    color: rgba(30, 30, 30, 1);
}
.review img {
    width: 40px;
    height: 40px;
}
.review {
    display: flex;
    align-items: center;
    gap: 12px;
}
.reviewer h4 {
    margin-bottom: 0px;
    color: rgba(117, 117, 117, 1);
}
.date {
    margin-top: 0px;
    color: rgba(179, 179, 179, 1);
}